<div class="col-lg-4 col-md-6">
    <div class="panel panel-default">
          <div class="panel-heading tile-heading-power">Power Usage Now</div>
          <div class="panel-body tile-panel-power">
              <div class="row tile-row">
                  <div class="col-md-4 top-tile-left"> 
                      <div>
                        	<div class="extraBold" style="margin-top: 10px">303W</div>
                          <div id="powerNowTime" class="tinyBold" style="margin-top: 10px">09:57:00</div>
                       </div>
                  </div>
                  <div class="col-md-8 tile-col">
                      <div class="cpgauge"></div> 
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 bottom-tile-left"> 
                    <div>
                        	<div class="medBold" >8.4 kWh</div>
                          <div id="powerNowTime" class="tinyBold" >SO FAR TODAY</div>
                       </div>
                  </div>
                  <div class="col-md-8 tile-col">
                    <div>
                        	<div class="medBold" >16.7 kWh</div>
                          <div id="powerNowTime" class="tinyBold" >DAILY AVERAGE</div>
                       </div>
                  </div>
              </div>
          </div>
      </div>
  </div>