<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="panel panel-default">
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-2"> 2005 KV
                  </div>
                  <div class="col-md-10">
                      <div class="cpgauge"></div> 
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-default">
          <div class="panel-body">
                              Panel content
          </div>
      </div>
  </div>

  <div class="col-lg-4 col-md-6">
    <div class="panel panel-default">
          <div class="panel-body">
                              Panel content
          </div>
      </div>
  </div>
                    
</div>

<div class="row"> 
  <div class="col-md-6" >
      <app-comp1></app-comp1>
  </div>
  <div class="col-md-6" >
      <app-comp2></app-comp2>
  </div>
</div>