<div class="col-lg-4 col-md-6">
    <div class="panel panel-default">
          <div class="panel-heading tile-heading-power">WHAT'S MY COST</div>
          <div class="panel-body tile-panel-power">
              <div class="row tile-row">
                  <div class="col-md-4 top-tile-left"> 
                      <div>
                        	<div class="extraBold" style="margin-top: 10px">$134.9</div>
                          <div id="powerNowTime" class="tinyBold" style="margin-top: 10px">PREDICTED THIS MONTH</div>
                       </div>
                  </div>
                  <div class="col-md-8 tile-col">
                      <div class="cpgauge1"></div> 
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4 bottom-tile-left"> 
                    <div>
                        	<div class="medBold" >$2.21</div>
                          <div id="powerNowTime" class="tinyBold" >SO FAR TODAY</div>
                       </div>
                  </div>
                  <div class="col-md-8 tile-col">
                    <div>
                        	<div class="medBold" >$7.9</div>
                          <div id="powerNowTime" class="tinyBold" >PREDICTED TODAY</div>
                       </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<!--
<div style="width:200px;height: 200px">

<canvas id="myChart" width="400" height="400"></canvas>
</div>
<ul>
    <li *ngFor="let task of Tasks">
        {{task.id}}
    </li>
</ul>

-->
