  <div class="col-md-12">
    <div class="panel panel-default">
            <div class="panel-heading panel-heading-chart chart-heading">
              <div class="panel-heading-chart-header"> WATER USAGE NOW </div>

            <div class="btn-toolbar chart-button-group" role="toolbar" aria-label="Toolbar with button groups"> 
              
                <button class="btn" onclick="plusIndex(1)"> &#10094;</button> 
                <button class="btn" onclick="plusIndex(-1)"> &#10095;</button> 
              
              <div class="btn-group" role="group" aria-label="Second group"> 
                <button type="button" class="btn btn-info" onclick="autoSlide()">Start</button>
                <button type="button" class="btn btn-info" onclick="stopSlide()">Stop</button>
              </div> 
              
            </div> 
                      

            </div>
              <div id="myChart-parent" class="panel-body chart-body slider-panel">
                  <div class="slider-card sel" idx="0"><canvas id="myChart"  class="myChart lower-chart"></canvas></div>
                  <div class="slider-card" style="display: none;" idx="1"><canvas id="myChart1"  class="myChart lower-chart"></canvas></div>
                  
              </div>
              
    </div>
  </div> 
  


<script>
  showImage(1);
</script>
<!--
<div class="row">
  <div class="col-md-12 lower-chart">
    <div class="panel panel-default">
            <div class="panel-heading chart-heading">WATER USAGE NOW <input class="col-md-2" data-provide="datepicker" id="format" name="format" type="text" placeholder="mm/dd/yyyy"> </div>
              <div class="panel-body chart-body">
                    <div class="ct-chart ct-perfect-fourth" style="height: 271px;"></div>
              </div>
    </div>
  </div>
</div>
-->