
<div class="row" >
  <div class="col-md-12">
    <div class="panel panel-default">
            <div class="panel-heading chart-heading">WATER USAGE NOW  
              <button class="btn" (click)="getDays()"> getDays  </button>
              <button class="btn" (click)="getHour()"> etHour </button>
            </div>
              <div id="myChart-parent" class="panel-body chart-body">
                  <canvas id="myChart"  class="myChart"></canvas>
              </div>
    </div>
  </div>
</div>
<!--
<div class="row">
  <div class="col-md-12 lower-chart">
    <div class="panel panel-default">
            <div class="panel-heading chart-heading">WATER USAGE NOW <input class="col-md-2" data-provide="datepicker" id="format" name="format" type="text" placeholder="mm/dd/yyyy"> </div>
              <div class="panel-body chart-body">
                    <div class="ct-chart ct-perfect-fourth" style="height: 271px;"></div>
              </div>
    </div>
  </div>
</div>
-->