.chart-body{
 height: 22vw;
}



.slider-panel{
    position: relative;
}
.slider-card{
    position: absolute;
    width: 100%;
    height: 21vw;
    
}

.selected{
    display: none;
}

.panel-heading-chart{
    background: #FFF;
    height: 50px;
}

.panel-heading-chart-header{

    float:left;
    padding-top : 10px;
    
}

.chart-button-group{

    float : right;
}